[defaults]
roles_path = ./tests/integration/targets
collections_path = ../../..:~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
host_key_checking = False
callbacks_enabled = ansible.builtin.junit