[nd]
nd ansible_host=10.122.84.112

[nd:vars]
ansible_connection=ansible.netcommon.httpapi
ansible_python_interpreter={{ ansible_playbook_python }}
ansible_network_os=cisco.nd.nd
ansible_httpapi_validate_certs=False
ansible_httpapi_use_ssl=True
ansible_httpapi_use_proxy=False
ansible_httpapi_login_domain=local
ansible_command_timeout=120
ansible_connect_timeout=60
ansible_user=CHANGE_ME
ansible_password=CHANGE_ME
nd_test_fabric_name=CHANGE_ME
nd_test_switch_ip=192.0.2.11
nd_test_switch_id=CHANGE_ME


