[defaults]

host_key_checking = False
collections_path = /Users/achengam/Documents/Ansible_Dev/NDBranch/ansible_collections/
roles_path = /Users/achengam/Documents/Ansible_Dev/NDBranch/ansible_collections/cisco/nd/tests/integration/targets/
#log_path = /Users/neijohn/Ansible/collections/ansible_collections/cisco/dcnm/ansible.log

[persistent_connection]
command_timeout=100000
connect_timeout=100000